/* IRANSansX ***/

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 700;
    src: url('./woff/IRANSansX-Bold.woff') format('woff'), url('./woff2/IRANSansX-bold.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 500;
    src: url('./woff/IRANSansX-Medium.woff') format('woff'), url('./woff2/IRANSansX-Medium.woff2') format('woff2');
}

@font-face {
    font-family: IRANSansX;
    font-style: normal;
    font-weight: 400;
    src: url('./woff/IRANSansX-regular.woff') format('woff'), url('./woff2/IRANSansX-regular.woff2') format('woff2');
}