@import url(./ReactToastify.min.css);

@tailwind base;

@layer base {

    /* IRANSansX ***/

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 700;
        src: url('../css/fonts/woff/IRANSansX-Bold.woff') format('woff'), url('../css/fonts/woff2/IRANSansX-Bold.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 500;
        src: url('../css/fonts/woff/IRANSansX-Medium.woff') format('woff'), url('../css/fonts/woff2/IRANSansX-Medium.woff2') format('woff2');
    }

    @font-face {
        font-family: IRANSansX;
        font-style: normal;
        font-weight: 400;
        src: url('../css/fonts/woff/IRANSansX-Regular.woff') format('woff'), url('../css/fonts/woff2/IRANSansX-Regular.woff2') format('woff2');
    }


    [type='text'],
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select {
        @apply rtl:number-fa focus:ring-0 rtl:text-rtl;
    }

    
}

@tailwind components;

@layer components {
    .flex-center {
        @apply flex items-center justify-center;
    }

    .color-transition {
        @apply transition-colors duration-500;
    }

    .title-color{
        @apply text-dark-800 dark:text-dark-300;
    }

    .border-gray{
        @apply border-[#b4b4b4] dark:border-[#848484];
    }
    
}

@tailwind utilities;

@layer utilities {
    .text-rtl {
        direction: rtl;
    }

    .text-ltr {
        direction: ltr;
    }

    .number-fa {
        -moz-font-feature-settings: "ss02";
        -webkit-font-feature-settings: "ss02";
        font-feature-settings: "ss02";
    }

    .custom-scrollbar::-webkit-scrollbar {
        cursor: pointer !important;
    }
}

HTML {
    cursor: pointer;
}

body {
    font-family: 'IRANSansX';
    cursor: default;
}

aside a {
    @apply before:transition-all before:duration-300 before:content-[''] before:absolute before:w-0 before:h-0 before:border-t-violet-700 dark:before:border-t-indigo-400 before:top-2.5 before:border-[6px] before:border-x-transparent before:border-b-transparent before:left-4 rtl:before:left-auto rtl:before:right-4 before:invisible before:opacity-0 hover:before:visible hover:before:opacity-100 before:ease-in hover:before:left-8 rtl:hover:before:right-8 rtl:hover:before:left-auto before:right-auto before:z-10 after:bg-violet-700 dark:after:bg-indigo-400 after:text-white after:absolute after:content-[attr(data-hint)] after:px-4 after:h-7 after:text-xs after:flex after:items-center after:-top-1 after:-translate-y-1/2 after:left-2 rtl:after:left-auto after:right-auto rtl:after:right-2 rtl:hover:after:right-6 hover:after:left-6 rtl:hover:left-auto after:opacity-0 after:invisible hover:after:opacity-100 hover:after:visible after:min-w-max after:z-10 after:duration-300 after:ease-in;
}

@media (max-width: 756px) {
    .scrollbar_hide::-webkit-scrollbar {
        display: none;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
}

@media (min-width: 756px) {
    .scrollbar_hide::-webkit-scrollbar {
        height: 12px;
    }

    .scrollbar_hide::-webkit-scrollbar-track {
        border-radius: 16px;
        background-color: #404046;
    }

    .scrollbar_hide::-webkit-scrollbar-thumb {
        border-radius: 16px;
        background-color: #aaaab3;
        transition-property: all;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 500ms;
    }

    .scrollbar_hide::-webkit-scrollbar-thumb:hover {
        background-color: #747683;
    }
}

.grid_20 {
    grid-template-columns: repeat(20, 30px);
    grid-template-rows: repeat(20, 30px);
}

.floating-cart{
    @apply absolute w-80 h-[21rem] z-[4] shadow-lg;
}

.floating-cart.moveToCart{
    @apply !top-16 scale-[0.12];
}
.floating-cart.moveToCart.hideInCart{
    @apply !top-28 opacity-0 scale-[0.1];
}